.main-page{
    flex:1;
}

.divided{
    border:rgba(214, 158, 151, 0.125) solid 0;
    padding:2rem 0;
    border-top-width:1px;
    border-bottom-width:1px;
}

/* Jumbotron */
.jumbotron{
    min-height:20rem;
    background:url('./images/jumbo_bg.jpg');
    background-color:#aa2a19;
    background-blend-mode:multiply;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo img{
    width:14rem;
}

.logo h1{
    margin-top:1rem;
    color:#fff;
    font-size:1.875rem;
    letter-spacing:0.125rem;
}

.jumbo-quote{
    width:90%;
    margin-top:1rem;
    text-align:justify;
    color:#fff;
    font-size:1rem;
    line-height:1.25rem;
}

/* Work */
.work{
    margin:1rem auto;
    border:rgba(214, 158, 151, 0.125) solid 0;
    border-bottom-width:1px;
}

.work h2{
    text-align:center;
    font-weight:700;
    font-size:2.5rem;
}

.work p{
    text-indent:2rem;
    color:#aa2a19;
    font-size:1.25rem;
    padding:1rem;
}

/* About */
.about{
    margin:1rem auto;
}

.about h2{
    text-align:center;
    font-weight:700;
    font-size:2.5rem;
}

.about p{
    text-indent:2rem;
    color:#aa2a19;
    font-size:1.25rem;
    padding:1rem;
}

/* Examples */
.examples{
    margin:1rem auto;
    display:flex;
    flex-direction:column;
    overflow-y:hidden;
}

.ex-images-container{
    height:330px;
    overflow-y:hidden;
}

.ex-images-container img{
    object-fit:cover;
    position:relative;
    width:100vw;
    height:330px;
    animation-fill-mode:forwards;
}

.ex-images-container img:nth-child(1){
    z-index:5;
}

.ex-images-container img:nth-child(2){
    z-index:4;
    top:-20.8rem;
}

.ex-images-container img:nth-child(3){
    z-index:3;
    top:-41.6rem;
}

.ex-images-container img:nth-child(4){
    z-index:2;
    top:-62.5rem;
}

.ex-images-container img:nth-child(5){
    z-index:1;
    top:-83.29rem;
}

.ex-text{
    padding:1rem 1rem 0;
}

.ex-text h2{
    text-align:center;
    margin-bottom:1rem;
    font-weight:700;
    font-size:2.5rem;
}

.ex-text p{
    text-indent:2rem;
    color:#aa2a19;
    font-size:1.25rem;
}

/* Contact */
section.contact{
    display:static;
}

.con-text{
    padding:1rem;
}

.con-text h2{
    text-align:center;
    margin-bottom:1rem;
    font-weight:700;
    font-size:2.5rem;
}

.con-text p{
    text-indent:2rem;
    color:#aa2a19;
    font-size:1.25rem;
}

.con-text span{
    color:#aa2a19;
    font-size:1.25rem;
    text-align:center;
    margin:0.875rem auto;
    display:block;
}

.con-text span i{
    color:#000;
    font-weight:700;
}

.con-text hr{
    width:100vw;
    position:absolute;
    left:0;
    background:#aa2a19;
    border:1px solid #fff;
}

#contactForm{
    text-align:center;
    margin:0 auto 10px;
    display:flex;
    flex-direction:column;
    width:80%;
}

#contactForm label{
    font-weight:700;
    font-size:1.25rem;
}

#contactForm textarea{
    resize:none;
}

.con-input, #conMsg{
    margin-bottom:1rem;
    border:none;
    font-family:'Lora','Garamond','Palatino','Georgia',serif;
    font-size:0.875rem;
    text-align:center;
    border:rgba(170, 42, 25, 0.25) 1px solid;
    color:#c48a83;
}

#conMsg{
    margin-top:0.5rem;
}

.con-input::placeholder, #conMsg::placeholder{
    font-family:'Lora','Garamond','Palatino','Georgia',serif;
    font-size:0.875rem;
    padding:5px;
    color:#c48a83;
}

#conMsg::placeholder{
    position:relative;
    bottom:5px;
}

.con-btn{
    font-family:'Lora','Garamond','Palatino','Georgia',serif;
    font-weight:500;
    font-size:1rem;
    background:#fff;
    border:rgba(170, 42, 25, 0.25) 1px solid;
    border-radius:0.25rem;
    color:#aa2a19;
    width:auto;
    transition:background ease-in 0.5s;
    margin-bottom:1rem;
}

.con-btn:hover{
    cursor:pointer;
    background:#eedada;
    transition:background ease-in 0.2s;
}

/* Responsive Design */

@media screen and (max-width:320px){
    .logo img{
        width:12rem;
    }

    .logo h1{
        font-size:2rem;
    }
}

@media screen and (min-width:700px){
    .jumbo-quote{
        width:85%;
        font-size:1.25rem;
        line-height:1.5rem;
    }

    .work p, .about p{
        margin:0 auto;
        width:80%;
    }

    .examples{
        flex-direction:row;
        width:90vw;
        height:15rem;
    }

    .ex-images-container img{
        height:15rem;
        width:20rem;
    }

    .ex-images-container img:nth-child(2){
        top:-15.2rem;
    }
    
    .ex-images-container img:nth-child(3){
        top:-30.4rem;
    }
    
    .ex-images-container img:nth-child(4){
        top:-45.6rem;
    }
    
    .ex-images-container img:nth-child(5){
        top:-60.8rem;
    }

    .work h2, .ex-text h2, .about h2, .con-text h2{
        font-size:1.75rem;
    }

    .work p, .ex-text p, .about p, .con-text p, .con-text span{
        font-size:1.125rem;
    }

    section.contact{
        display:flex;
        margin:0 auto;
        width:90%;
    }

    #contactForm label{
        margin-bottom:0.25rem;
        font-size:1.375rem;
    }

    .con-text{
        width:80%;
    }

    .con-input, #conMsg{
        padding:8px 0;
        font-size:1.125rem;
    }

    .con-input::placeholder, #conMsg::placeholder{
        text-align:center;
        font-size:1.125rem;
    }

    #conMsg::placeholder{
        bottom:5px;
    }

    .con-btn{
        padding:auto;
        margin:0 auto;
        width:35%;
        font-size:1.5rem;
    }
    
}

@media screen and (min-width:1200px){
    .divided{
        padding:2rem 0 8rem;
    }

    .jumbotron{
        height:30rem;
        margin-bottom:3rem;
    }

    .examples{
        width:80vw;
    }

    .logo img{
        margin-top:1rem;
        width:18rem;
    }

    .logo h1{
        margin-top:1.5rem;
        font-size:2.5rem;
    }

    .jumbo-quote{
        margin:1.5rem 0;
        text-align:right;
        width:65%;
        font-size:1.5rem;
        line-height:1.75rem;
    }

    .ex-images-container img{
        height:22rem;
        width:30rem;
    }

    .ex-images-container img:nth-child(2){
        top:-22.2rem;
    }
    
    .ex-images-container img:nth-child(3){
        top:-44.4rem;
    }
    
    .ex-images-container img:nth-child(4){
        top:-66.6rem;
    }
    
    .ex-images-container img:nth-child(5){
        top:-88.8rem;
    }

    .work h2, .ex-text h2, .about h2, .con-text h2{
        font-size:2.25rem;
    }

    .work p, .ex-text p, .about p, .con-text p, .con-text span{
        font-size:1.25rem;
        line-height:1.875rem;
    }
}

@keyframes fadeOut{
    0%{opacity:1;}
    100%{opacity:0;}
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}