html, body {
    width:100%;
    font-family:'Lora','Garamond','Palatino','Georgia',serif;
}

html{
    scroll-behavior:smooth;
}

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

/* Colors
    Brick Red- #aa2a19;
    Red- #d31313;
    White- #fff;
*/