.navbar{
    padding:1rem;
    color:#aa2a19;
    box-shadow: rgba(95, 91, 91, 0.15) 0 1px 12px;
    display:flex;
    justify-content:space-between;
    flex-wrap:none;
}

.nav-brand{
    font-size:2.25rem;
    font-weight:400;
    letter-spacing:0.125rem;
    width:auto;
}

.nav-button{
    background:#fff;
    border:rgba(170, 42, 25, 0.25) 1px solid;
    border-radius:0.25rem;
    color:#aa2a19;
    width:auto;
    transition:background ease-in 0.5s;
}

.nav-button:hover{
    cursor:pointer;
    background:#eedada;
    transition:background ease-in 0.2s;
}

ul#navList{
    display:flex;
}

ul#navList li{
    margin:0 0.375rem;
}

ul#navList li a{
    color:#aa2a19;
    text-decoration:none;
    font-size:1.5rem;
    transition:color ease-in 0.5s;
}

ul#navList li a:hover{
    color:#d84936;
    transition:color ease-in 0.2s;
}

/* Responsive Design */

@media screen and (max-width:320px){
    .nav-brand{
        font-size:1.75rem;
    }
}

@media screen and (max-width:699px){
    .navbar{
        flex-wrap:wrap;
    }

    .nav-brand, .nav-button{
        flex-grow:1;
    }

    ul#navList{
        margin-top:1rem;
        text-align:center;
        width:100%;
        display:none;
        flex-direction:column;
        justify-content:space-between;
    }

    ul#navList li{
        margin:0.375rem 0;
    }

    ul#navList li a{
        font-size:1.75rem;
    }
}

@media screen and (min-width:700px){
    .nav-button{
        display:none;
    }

    ul#navList{
        margin-top:0.375rem;
        display:flex;
    }
}

@media screen and (min-width:1200px){
    .navbar{
        padding:1rem 10%;
    }
}